.btn {
	padding: 10px 20px;
	border: none;
	border-radius: 10px;
	margin: 20px;
	font-size: 18px;
	font-weight: 600;
	text-shadow: 2px 2px 2px gray;
	box-shadow: 2px 2px 2px 2px grey;
	background: transparent;
}

.btn:hover {
	box-shadow: 2px 2px 2px 2px black;
}
